a{
    text-decoration: none;
}
body{
    font-family: 'Alegreya', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    }

.img-tcadastro{
    width: 50%;
    height: 100%;
    background-image: url('/imagens/propaganda3.jpeg');
    background-size: cover;
    background-position: 0%;

}
.cadastro{
display: flex;
width: 100%;
height: 650.5px;
align-items: center;   
border-radius: 30px;
border-top: aquamarine;
}   
.voltar{
    color: #20B2AA;
    font-size: 20px;
}
.login{
background-color: white;
width: 50%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;

}

button{
border: none;
border-radius: 30px;
background-color:#20B2AA;
width: 50%;
height: 25px;
}
button:hover{
background-color: #20B2AA;
}
input{
background: transparent;
border-bottom: 2px solid;
outline: none;
margin-bottom: 5px;
border-top:none;
border-right:none;
border-left: none;
color: #20B2AA;
}
.taminput{
width: 400px;

}

input:hover{
border-bottom: 2px solid #20B2AA;
}