*{
    padding: 0%;
    margin: 0%;
}
.encerrar{
    font-size: 13px;
    padding-left: 10px;
    margin: 10px;
}
.bModoEscuro{
    color:rgb(210, 210, 210);
    border-radius: 40px;
    border:none;
    background-color: black;
    width: 100px;
    height: 30px;
   margin-left: 10px;
}
.bModoClaro{
    color:rgb(210, 210, 210);
    border-radius: 40px;
    border:none;
    background-color: rgb(245, 245, 245);
    color: black;
    width: 100px;
    height:30px;

   margin-left: 10px;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Alegreya', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    }

.button{
    width: 250px;
    height: 30px;
    padding-top: 12px;
}
.button h4{
    font-size: 18px;
    color: white;
}

/* aaa */
    body{
        background-color: #20B2AA;    

    }
    .group{
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    

}
.pix{
    font-size: 10px;
    width: 140px;
    height: 140px;
    border-radius: 330px;
    transition-timing-function: ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-color: white;
    text-transform: block;
}
.imgp{
    padding-top: 20px;
    width: 80px;
    height: 80px;
    padding-left: 25px;
    transition: all 1s linear;

}
.imgp:hover{
    zoom: normal;
    transition: 500ms linear;
    transition-property: all;
    transform: scale(1.1);
    font-size: 20px;
}

.nav-geral{
    width: 100%;
    height: 1080px;
}
.nav-principal{
    width: 100%;
    height: 200px;
    padding-top: 40px;
    margin-left: 20px;
    color: white;
}
.nav-b{
    width:100px;
    height: 40px;
    margin: 10px;
    border:none;
    background-color: rgb(124, 112, 112);
    color: white;
    transition: all 1s all;
    font-size: 18px;
    border-radius: 20px;

}
.nav-b:hover{
    zoom: normal;
    transition: 500ms linear;
    transition-property: all;
    left: 10px;
    transform: scale(1.1);
    font-size: 20px;
}
.nav-sec{
    width: 100%;
    height: 200px;
    padding-top: 40px;
    margin-left: 20px;
    display: flex;
    gap: 10px;
}
.imgnav{
    width: 100%;
    height: 100%;

}
p{
    font-size: 20px;
}
.img-nav-p{
    margin-left: 20px;
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.img-nav-p:hover{
    background-color: white;
    opacity: 0.2;    
    background-color: black;  
}
.h1nav{
    margin-left: 20px;
    color: white;

}
.paipix{
    color: white;
    margin-left: 50px;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}
.imgpaipix{
    width: 90px;
    height: 90px;
}
.tpix{
    width: 20%;
    height: 90px;
    gap: 10px;
    transition: all 1s linear;

}
.tpix:hover{
    zoom: normal;
    transition: 500ms linear;
    transition-property: all;
    transform: scale(1.1);
}
h2{
    color: rgb(250, 250, 250);
}
.red{
color: rgb(172, 7, 7);
}
.blue{
    color: rgb(15, 90, 175);
}

.formact {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    bottom: 150%;
    outline: none;
    background-color: #15172b;
    border-radius: 20px;
    height: 500px;
    padding: 20px;
    width: 420px;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    color: white;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }

  #firstname{
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
   

  }
  #firstname:focus{
    outline: none;
    border-bottom: 1px #20B2AA solid;
    
  }
  #lastname{
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
   

  }
  #lastname:focus{
    outline: none;
    border-bottom: 1px #20B2AA solid;
    
  }
  

  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    transition: transform 200ms;
    width: 76px;
    color: white;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  /* .input:focus ~ .placeholder, */
  /* .input:not(:placeholder-shown) ~ .placeholder { */
    /* transform: translateY(-30px) translateX(10px) scale(0.75);
  } */
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  
.buttontr{
    border: none;
    border-radius: 30px;
    background-color:#fcffff; 
    width: 20%;
    height: 25px;
    }
button:hover{
    box-shadow: 1px 0px 1px 1px black;
    }
    .buttontr1{
        border: none;
        color: white;
        font-size: 30px;
        }
buttontr1:hover{
box-shadow: 1px 0px 1px 1px black;
    }
    .taminput{
        padding: 5px;
        font-size: 20px;
        width: 400px;
        background: transparent;
        border-bottom: 2px solid;
        outline: none;
        border-color: white;
        border-top:none;
        border-right:none;
        border-left: none;
        color: #dcfffd;
    }
    .taminput1{
        width: 310px;
        background: transparent;
        border-bottom: 2px solid;
        outline: none;
        border-color: white;
        border-top:none;
        border-right:none;
        border-left: none;
        color: #dcfffd;
    }
label{
    color: white;
}